.bg-container {
    background-color: #27355C;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question-footer {
    border-top: 1px solid grey;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.start-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.quiz-card {
    width: 30rem;
    max-height:95%;
}
.card {
    /* border: unset; */
}
.card-body{
    padding: 0.8rem;
    max-height: 50%;
}
.center-text {
    text-align: center;
}

.progress {
    min-height: 20px;
    border-radius: unset;
}

.quiz-answer-card:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

.bg-success, .bg-danger {
    color: white;
}

.d-none {
    display: none;
}

.end-card-img {
    height: 300px;
    object-fit: cover;
}

.start-end-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.disabled {
    pointer-events: none;
    background-color: #85878b61;
}
.footer {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.footer a {
    color: #1569D9;
   
}

.attribution{
    font-size: 12px;
}

@media(max-width: 650px) {
    .card {
        max-width: 100%;
        border-radius: 0;
    }
    .quiz-card {
        height: 100vh; 
        width: unset;
        max-height: unset;
    }
    /* .end-card {
        padding-top: 100px;
    } */

    .card-img-top{
        height: 150px;
        object-fit: cover;
    }
    .footer{
        margin-bottom: 200px;
    }
}